/* color */

:root {
  --background-color: #f3e5d7;
  --secondary-color: #854632;
  --white-color: #ffffff;
}
html {
  font-size: 62.5%;
}

@font-face {
  font-family: 'Young Serif';
  src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  padding-block: 12.8rem;
  font-size: 1.6rem;
  font-family: 'Outfit', sans-serif;
  line-height: 1.6;
}
.container {
  max-width: 74rem;
  background-color: var(--white-color);
  color: #5f564d;
  padding: 4rem;
  margin: 0 auto;
  border-radius: 2.4rem;
  margin-bottom: 3.2rem;
}
.hero {
  width: 100%;
  margin-bottom: 4rem;
}
.hero img {
  width: 100%;
  border-radius: 1.2rem;
}

h1 {
  margin-bottom: 2.4rem;
  font-size: 4rem;
  color: #312e2c;
  font-weight: normal;
}
.section-one {
  padding-top: 0;
}
.section-one-paragraph {
  margin-bottom: 3.2rem;
}
.inner-article {
  padding: 2.4rem;
  background-color: #fff7fb;
}
.inner-article h4 {
  color: #7b284f;
  margin-bottom: 1.6rem;
}
.inner-article ul {
  margin-left: 1.4rem;
}
h2 {
  font-size: 2.8rem;
  margin-bottom: 2.4rem;
  color: var(--secondary-color);
}
section {
  border-bottom: 1px solid #e3ddd7;
  padding-block: 2.4rem;
}
.section__nutrition {
  border-bottom: 0;
}
ul,
ol {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-left: 0.8rem;
}
li::marker {
  color: var(--secondary-color);
  
}

li {
  /* dds space after the marker */
  padding-left: 2rem;
  /* this add space before the marker */
  margin-left: 0.8rem;
}

ol > li::marker{
  font-weight: bold;
}

.section-four div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 1.6rem;
  gap: 1.6rem;
  padding-block: 1.2rem;
  border-bottom: 1px solid #e3ddd7;
}
.section-four {
  padding-bottom: 0;
}
.section-four p{
  margin-bottom: 2.4rem;
}
.section__nutrition div:last-child {
  border-bottom: 0;
}
h1,
h2,
h4 {
  font-family: 'Young Serif', sans-serif;
}
.number {
  color: var(--secondary-color);
  font-weight: bolder;
}
.ingredient {
  margin-left: 3.2rem;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 61.6rem;
  }
}
@media screen and (max-width: 650px) {
  .container {
    max-width: 61.6rem;

  }
  body{
    padding-block: 0;
  }
}
@media screen and (max-width: 576px) {
  body {
    padding: 0;
    background: none;
  }
  .hero img{
    border-radius: 0;
  }
  .container {
    max-width: 100%;
    padding: 0;
    border-radius: 0;
    margin-bottom: 3.8rem;
  }

  h1{
    font-size: 3.2rem;
  }
  main{
    padding-inline: 3.2rem;
  }
}
